<div class="login">
<h4>Login</h4>
<%= erb :_errors%>
<form action="/sessions" method="post" >
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<button type="submit" name="Login">
</form>
</div>