<ul class="comment-list">
<%@child_comment.comments.each do |comment|%>
  <li class="comment-item">
    <%= erb :'comments/_show',locals:{comment:comment}%>
    <%if !comment.comments.empty?%>
    <%@child_comment = comment%>
    <%= erb :'entries/_child'%>
    <%end%>
  </li>
<%end%>
</ul>
