.post{
	border-bottom:2px solid black;
}
.child{
	display: block;
	margin-left: 20px;	
}
.comment_info{
	font-size: 65%;
	font-weight: bold;
}
.login{
	display: block;
	float: right;
	border: 1px solid black;
	width: 200px;
	height: 100%;
}
ul{
	border-left: 3px dashed gray;
}

li{
	border: 1px solid gray;
	border-left: none;
	padding: 6px;
	list-style-type:none;
}