.post{
	border-bottom:2px solid black;
}
.child{
	display: block;
	margin-left: 20px;
}
.comment_info{
	font-size: 65%;
	font-weight: bold;
}
.login{
	display: block;
	background: white;
	padding-bottom: 15px;
}
.comment-list{
	border-left: 3px dashed gray;
}

.comment-item{
	border: 1px solid gray;
	border-left: none;
	padding: 6px;
	list-style-type:none;
}
.site-portion{
	width: 90%;
}
.side-container{
	float: right;
	width: 10%;
	height: 100%;
	margin: -10px;
}
